body {
    background-color: #f7e625;
}
#title {
    text-align: center;
    font-family: Honk, Arial, Helvetica, sans-serif;
    font-size: 5em;
    margin-top: 1rem;
}

#container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #d4a3f7;
    border: dashed black 5px;
}

.piko-card {
    flex-basis: 25%;
    margin: 3em;
}

.piko-img {
    width: 100%;
    border-radius: 1em;
    border: solid black 2px;
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}

.piko-abilities {

}

.piko-category {

}

.piko-weakness {

}
