body {
    background-color: aquamarine;
}
#pikaid {
    text-align: center;
    font-family: Honk, Arial, Helvetica, sans-serif;
    font-size: 5em;
    margin-top: 1rem;
}

#container {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #d4a3f7;
    border: solid #02071f 5px;
}

.piko-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.piko-img {
    height: 55%;
    width: auto;
    padding: 50px;
    
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    padding: 5px;
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}

.piko-abilities {
    padding: 2px 5px;

}

.piko-category {
    padding-left: 5px;

}

.piko-weakness {
    padding: 2px 5px;

}
